.framework-card {
    padding: 0;
}

.framework-media img {
    width: 100%;
}

.framework-card button.inte-btn {
    border-radius: 0;
    border-left: navajowhite;
    border-right: none;
    border-bottom: 0;
}

.framework-card button.inte-btn:hover {
    background-color: transparent;
    color: rgba(65, 59, 188, 1);
}

.custtom_tooltip button.inte-btn {
    border-bottom: 1px dashed rgba(59, 66, 79, 1);
    color: rgba(28, 36, 51, 1);
}

.custtom_tooltip button.inte-btn:hover {
    text-decoration: none;
}

.custtom_tooltip button.inte-btn span {
    color: rgba(28, 36, 51, 1);
}

.custtom_tooltip button.inte-btn span em {
    color: red;
    font-style: normal;
}